#root {
  max-width: 1280px;
  margin: 0 auto;
}
header {
  max-width: 1280px;
  margin: 0 auto;
}
.hero {
  text-align: center;
}
h1 {
  font-size: clamp(32px, 2.5vw + 2rem, 96px);
}
h2 {
  font-size: clamp(32px, 2vw, 96px);
}

.rotate360OnHover:hover {
  transform: rotate(360deg);
  transition: all 1500ms;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImage {
  overflow: hidden;
}

#heroText {
  font-size: clamp(24px, 2.5vw, 96px);
}
.active-link {
  font-weight: 600;
  color: #e17100;
}

.bg-canvas {
  position: fixed;
  inset: 0; /* top:0; left:0; right:0; bottom:0 */
  width: 100%;
  height: 100%;
  z-index: -1; /* behind your app */
  pointer-events: none; /* clicks go through */
  background: transparent;
}
